<header>
    <nav>
        <a> href="home.html">Home</a>
        <a> href="contact.html">Home</a>
    </nav>
</header>
<main>
    <h1>An HTML project</h1>
    <p>
        im learning HTML
    </p>
    <p>
        My Favor search engine is
        <a href="https://fuckduckgo.com">DuckDuckGo</a>
    </p>
    <div>
        <div>Box 1</div>
        <div>Box 2</div>
        <div>Box 3</div>
        <div>Box 4</div>
    </div>
</main>
<footer>
    <div>Copyright 1982 by me!</div>
    <div>I like tacos</div>
</footer>
